# PostgreSQL connection string, e.g. postgresql://user:password@localhost:5432/akubueze
DATABASE_URL="postgresql://user:password@localhost:5432/akubueze"

# `openssl rand -base64 32`
NEXTAUTH_SECRET="replace-with-a-random-32-byte-secret"
NEXTAUTH_URL="http://localhost:3000"
